<nav>
    <div id="site-brand">
        Twitter
    </div>
    <div id="site_nav_links">
        <ul>
            <li>Home</li>
            <li><a href="/signup/">
                Sign Up
            </a></li>
            <li><a href="/login/">
                Login
            </a></li>
        </ul>
    </div>
    
</nav>
<style>
    nav{
        display:flex;
        justify-content: space-between;
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid;   
        background: #6f92c5;
        width: 100%;
        color: white;
    }
    ul{
        display: flex;
     }
     li{
        list-style: none;
        margin-right: 20px;
    }
</style>