{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="{%static 'accounts/assets/css/boostrap.css'%}" type="text/css" />
    <link rel="stylesheet" href="{%static 'accounts/assets/css/fontawesome.css'%}" type="text/css" />
</head>
<body>
    
    <div id="dashboard"><h1 style="position: absolute;top:250%;right:45%">Loading ...</h1></div>
    <script type="text/javascript" src="{%static 'dashboard/main.js'%}"></script>
    <script type="text/javascript" src="{%static 'accounts/assets/js/fontawesome.js'%}"></script>

</body>
</html>